section {
    border: 2px solid gray;
    padding: 10px;
    display: block;
    margin: 20px auto;
}

/*COLOR SECTION*/
#color-section h2 {
    position: relative;
}

#color-container {
    display: block;
    width: 100%;
}

.color-info {
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    min-height: 100px;
}

#color1 {
    background-color: indianred;
}

#color2 {
    background-color: lightcoral;
}

#color3 {
    background-color: salmon;
}

#color4 {
    background-color: darksalmon;
}

#color5 {
    background-color: lightsalmon;
}

#color6 {
    background-color: crimson;
}

#color7 {
    background-color: red;
}

#color8 {
    background-color: firebrick;
}

#color9 {
    background-color: darkred;
    color:white;
}

/*FONT SECTION*/
#fonts-container {
    display: block;
}


.font-container {
    display: inline-block;
    margin: 10px 10px;
}


.font-container h3 {
    text-decoration: underline;
}

#inter-font {
    font-family: 'Inter', sans-serif;
}

#w100 {
    font-weight: 100;
}

#w400 {
    font-weight: 400;
}

#w900 {
    font-weight: 900;
}

#staatliches-font {
    font-family: 'Staatliches', cursive;
}

#sourcecodepro-font {
    font-family: 'Source Code Pro', monospace;
}